/* Sidebar */
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #003366; /* azul oscuro */
  color: #fff; /* blanco para texto */
  transition: width 0.3s;
  position: fixed;
  display: flex;
  flex-direction: column;
}

.sidebar.closed {
  width: 70px;
}

/* Top Section */
.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff; /* blanco */
}

.toggle-btn {
  background: none;
  border: none;
  color: #fff; /* blanco */
  font-size: 1.5rem;
  cursor: pointer;
}

/* Menú */
.menu {
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  cursor: pointer;
  transition: 0.2s;
  color: #fff; /* blanco por defecto */
}

.menu-item:hover {
  background-color: #0055a4; /* azul claro */
}

.menu-item .icon {
  margin-right: 15px;
  font-size: 1.2rem;
  color: #fff; /* blanco */
}

.sidebar.closed .menu-item .text {
  display: none;
}

.divider {
  margin: 20px 10px;
  border: 0.5px solid rgba(255, 255, 255, 0.3); /* blanco semitransparente */
}

/* Logout */
.menu-item.logout {
  color: #ff4d4d; /* rojo */
}

.menu-item.logout:hover {
  background-color: #ff0000; /* rojo más intenso */
  transform: translateX(5px);
}

.menu-item.logout .icon:hover {
  color: #fff; /* blanco */
  transform: scale(1.2);
}
